
body{
    /* padding-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.wish{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#wish{
    animation: animate 1.5s ease-in 0s forwards;
    color: white;
    font-size: 306%;
    text-shadow: 5px 5px 4px  rgb(228, 143, 90);
}

@keyframes animate {
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
    
}
.result {
    animation: fadeIn 3.5s ease-in 0s forwards;    
    color: white;
    font-size: 406%;
    text-shadow: 5px 5px 4px  rgb(228, 143, 90);
}

.wish h1{
    color: rgb(231, 111, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
    text-shadow: 8px 8px 10px white
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

#video{
    position: fixed;
    /* right: 0;
    bottom: 0; */
    min-width: 100%;

}

@media only screen and (min-width: 992px) {
    body{
       padding-top: 20px;
    }
}
@media only screen and (max-width:992px) {
    body{
       padding-top: 120px;
    }
}
@media only screen and (max-width:768px) {
    body{
       padding-top: 200px;
    }
}
@media only screen and (max-width:600px) {
    body{
       padding-top: 300px;
    }
}
@media only screen and (max-width:350px) {
    body{
       padding-top: 400px;
    }
}
