#front{
    background-color: rgb(106, 146, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.entry{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
button{
    width: 25%;
    font-size: larger;
    border-radius: 10px;
    transition: transform 0.35s ease-out;
}

.card{
 border: 3px solid rgb(42, 7, 219);
 background-color: rgb(106, 187, 245);
 border-radius: 10%;
 height: 260px;
 width: 368px;
 box-shadow: 10px 10px 20px 7px rgb(30, 30, 83);
}

button:hover{
    background-color: rgb(65, 113, 195);
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.6) ;
}

#next{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.wish{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#wish{
    animation: animate 1.5s ease-in 0s forwards;
    color: white;
    font-size: 306%;
    text-shadow: 5px 5px 4px  rgb(228, 143, 90);
}

@keyframes animate {
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
    
}
.result {
    animation: fadeIn 3.5s ease-in 0s forwards;    
    color: white;
    font-size: 406%;
    text-shadow: 5px 5px 4px  rgb(228, 143, 90);
}

.wish h1{
    color: rgb(231, 111, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 500%;
    text-shadow: 8px 8px 10px white
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

#video{
    position: fixed;
    /* right: 0;
    bottom: 0; */
    min-width: 100%;

}

